In [1]:
a=4

In [2]:
type(a)

int

In [3]:
len('hello')

5

In [4]:
a="hello"

In [5]:
a[-1::-1]

'olleh'

In [6]:
letters='z'

In [7]:
letters*10

'zzzzzzzzzz'

In [8]:
a.split('e')

['h', 'llo']

# Formating in String // Doubt

In [9]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [10]:
print(' The {f} {f} {f}'.format(f='fox',q='quick',b='brown'))

 The fox fox fox

In [11]:
name="Jose"
print(f'Hello, his name is {name}')

Hello, his name is Jose

# Lists

In [12]:
my_list = ['STRING',100,23.2]

In [13]:
my_list

['STRING', 100, 23.2]

In [14]:
my_list[0]

'STRING'

In [15]:
my_list[-1:-3:-1]

[23.2, 100]

In [16]:
my_list[0]='Dharmendra'

In [17]:
my_list

['Dharmendra', 100, 23.2]

In [18]:
my_list.append('Mahato')

In [19]:
my_list

['Dharmendra', 100, 23.2, 'Mahato']

In [20]:
my_list.pop()

'Mahato'

In [21]:
my_list

['Dharmendra', 100, 23.2]

In [22]:
my_list.reverse()

In [23]:
my_list

[23.2, 100, 'Dharmendra']

# Dictionary

In [24]:
my_dict = {'key1':'value1','key2':'value2'}

In [25]:
my_dict['key1']

'value1'

In [26]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [27]:
my_dict.values()

dict_values(['value1', 'value2'])

In [28]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

# Tuples

In [29]:
my_tuple = ('Dharmendra','Mahato',21223019)

In [30]:
my_tuple.count(1)

0

# Sets

In [31]:
myset = set()
myset.add(1)

In [32]:
myset

{1}

In [33]:
100 ** 0.5

10.0

# For Loop

In [34]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [35]:

for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

# Tuple unpacking

In [36]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [37]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

#  break continue pass

In [38]:
x = [1,2,3]
for item in x:
    #comment
    pass
print('end of my script')

end of my script

# Range

In [39]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

# Enumerate // Doubt

In [40]:
word='abcde'

In [41]:
for index,item in enumerate(word):
    print(index)
    print(item)
    print('\n')

0
a


1
b


2
c


3
d


4
e

# Zip // Doubt

In [42]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [43]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

# in

In [44]:
'x'in ['x','y','z']

True

In [45]:
d={'mykey':345}
345 in d.keys()

False

# random-libraries

In [4]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist

[2, 1, 3, 9, 4, 10, 7, 5, 6, 8]

In [7]:
from random import randint
randint(0,100)

49

In [9]:
randint(0,100)

14

# user input

In [11]:
result=input("What is your name?")
result

What is your name?Dharmendra Mahato

'Dharmendra Mahato'

# List Comprehension //Doubt

In [50]:
mystring="hello"
mylist=[letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [51]:
mylist=[num**2 for num in range(0,11) if num%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [52]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [53]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

# Nested loop

In [54]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [55]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [56]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

# Methods

mylist.tab

for arguement -> shift+tab
        or
help(mylist.insert)

In [57]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Functions

In [61]:
def name_of_function():
    print("Hello World")
name_of_function()

Hello World

# Comment

In [62]:
'''Docstring explains function.'''

'Docstring explains function.'

# Add Two number using function

In [63]:
 def add_two_number(a,b):
        return a+b
   
 result = add_two_number(10,20)
 print(result)

30

# Default Arguement

In [65]:
def say_hello(name = 'Default'):
    print(f' Hello {name}')
say_hello('Dharmendra Mahato')

 Hello Dharmendra Mahato

# Arguement

In [6]:
def myfunc(a,b,c=0,d=0,e=0,f=0):
    return sum((a,b,c,d,e,f))* 0.05
myfunc(40,60,100,100,3,4)

15.350000000000001

In [5]:
def myfunc(*args):
    #Returns 5% of the sum of a and b
    return sum(args)*0.05
myfunc(40,60,100,100,3,4)

15.350000000000001

# Kwargs(keyword Arguement)

In [17]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("I did not find any fruit here")
        
myfunc(fruit = 'Apple',veggie = 'lettuce')

{'fruit': 'Apple', 'veggie': 'lettuce'}
My fruit of choice is Apple

# Combination

In [21]:
def myfunc(*args,**kwargs):
    print('I would like {} {}'.format(args[0],kwargs['foods']))
    
myfunc(10,20,30,fruit = 'orange',foods = 'eggs',animal = 'dogs')

I would like 10 eggs

# Map function

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [4]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

# Filter

In [1]:
def check_even(num):
    return num%2 == 0

In [2]:
mynums = [1,2,3,4,5,6]

In [4]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [3]:
list(filter(check_even,mynums))

[2, 4, 6]

# Lambda Expression

In [5]:
square = lambda num: num ** 2

In [6]:
square(5)

25

In [7]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [8]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [10]:
names = ['Andy','Eve','Sally']

In [11]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

# Join

In [1]:
 mylist = ['a','b','c']
' '.join(mylist)

'a b c'

# Remove Spaces

In [1]:
s = 'nurses run'

In [2]:
s = s.replace(' ','')
print(s)

nursesrun

# Get all lowercase Character

In [4]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

# Validating User Input

In [1]:
def user_choice():
    
    # VARIABLES
    
    #Initial
    choice = 'WRONG'
    acceptable_range = range(0,10)
    within_range = False
    
    # Two CONDITIONS TO CHECK
    # DIGIT OR WITHIN _RANGE==FALSE
    while choice.isdigit() == False or within_range == False:
        
        
        choice = input("Please enter a number (0-10): ")
        
        #DIGIT CHECK
        if choice.isdigit() == False:
            print("Sorry that is not a digit!")
            
        #RANGE CHECK
        if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("Sorry, you are out of acceptable range (0-10)")
                within_range = False
             
        
    return int(choice)

In [2]:
user_choice()

Please enter a number (0-10): two
Sorry that is not a digit!
Please enter a number (0-10): 100
Sorry, you are out of acceptable range (0-10)
Please enter a number (0-10): 5

5

# User defined Object

In [9]:
class Dog():
    
    # CLASS OBJECT ATTRIBUTE
    # SAME  FOR ANY INSTANCE OF A CLASS
    
    species = 'mammal'
    
    # init is constructor of a class called automatically when we create instance of a class
    # self is a reference to tinstance of the object itself
    def __init__(self,breed,name,spots):
        
        
        # Attributes
        # we take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
        # Expect boolean True/False
        self.spots = spots
        
     #Operations/Actions --> Methods
    def bark(self,number):
        print("WOOF! My name is {} and the number is {}".format(self.name,number))

In [10]:
# instance of the class
my_dog = Dog(breed='Lab',name='Sammy',spots=False)

In [11]:
my_dog.breed

'Lab'

In [12]:
my_dog.spots

False

In [13]:
my_dog.name

'Sammy'

In [14]:
type(my_dog)

__main__.Dog

In [15]:
my_dog.species

'mammal'

In [16]:
my_dog.bark(10)

WOOF! My name is Sammy and the number is 10

In [23]:
class Circle():
    
    #CLASS OBJECT ATTRIBUTE
    pi = 3.14
    
    def __init__(self,radius=1):
        self.radius = radius
        
    # METHOD
    
    def get_circumference(self):
        return self.radius * self.pi * 2 # or Circle.pi

In [24]:
my_circle = Circle(30)

In [25]:
my_circle.pi

3.14

In [26]:
my_circle.radius

30

In [27]:
my_circle.get_circumference()

188.4

# Inheritance

In [1]:
class Animal():
    
    def __init__(self):
        print("ANIMAL CREATED")
    
    def who_am_i(self):
        print("I am an animal")
        
    def eat(self):
        print("I am eating")

In [7]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")
        
    
    def eat(self):
        print("I am a dog and eating")
        
    def bark(self):
        print("WOOF!")

In [8]:
mydog = Dog()

ANIMAL CREATED
Dog Created

In [9]:
mydog.eat()

I am a dog and eating

In [10]:
mydog.who_am_i()

I am an animal

In [11]:
mydog.bark()

WOOF!

# Polymorphism

In [5]:
class Dog():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + " says woof!"

In [6]:
class Cat():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + " says meow!"

In [7]:
niko = Dog("niko")
felix = Cat("felix")

In [8]:
print(niko.speak())

niko says woof!

In [9]:
print(felix.speak())

felix says meow!

In [10]:
for pet in [niko,felix]:
    
    print(type(pet))
    print(pet.speak())

<class '__main__.Dog'>
niko says woof!
<class '__main__.Cat'>
felix says meow!

In [11]:
def pet_speak(pet):
    print(pet.speak())

In [12]:
pet_speak(niko)

niko says woof!

In [13]:
pet_speak(felix)

felix says meow!

In [14]:
class Animal():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        raise NotImplementedError("Subclass must implement this abstract method")

In [16]:
class Dog(Animal):
    
    def speak(self):
        return self.name+ " says woof!"

In [17]:
class Cat(Animal):
    
    def speak(self):
        return self.name+ " says meow!"

In [18]:
fido = Dog("Fido")

In [19]:
isis = Cat("Isis")

In [20]:
print(fido.speak())

Fido says woof!

In [22]:
print(isis.speak())

Isis says meow!